*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: #00008B;
    color: #fff;
    padding: 12px;
    font-size: 19px;
}

.lite{
    background-color: #FFDEAD;
}

.lite a{
    position: relative;
    text-decoration: none; 
    padding-left: 2px;
    font-size: 17px;
    bottom: 18px;
}

.lite img{width: 3%;}

.fr{
    position: relative;
    background-color: #D3D3D3;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

form{
    padding: 12px;
}

label{
    font-size: 19px;
    color: #4F4F4F;
}

input{
    position: relative;
    width: 100%;
    height: 43px;
}

.enviar{
    background-color: #0000FF;
    color: #fff;
    height: 48px;
    border: none;
    box-shadow: 1px solid #000;
    font-size: 17px;
}

.linha{
    display: flex;
    justify-content: center;
    align-items: center;
}

.t2{
    display: flex;
    position: absolute;
    width: 44%;
    top: 279px;
    float: right;
    right: 19px;
}

.t1{
    display: flex;
    position: absolute;
    width: 44%;
    top: 279px;
    float: left;
    left: 19px;
}

.creat-forg{
    text-align: center;
}

.creat-forg a{
    font-size: 18px;
    text-decoration: none;
}

.creat-ac{
    background-color: #32CD32;
    color: #fff;
    width: 40%;
    padding: 14px;
}

footer{
    background-color: #4F4F4F;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 14px;
}

footer ul{
    color: #A9A9A9;
    font-size: 17px;
    list-style: none;
}

footer img{
    padding-top: 2px;
    width: 6%;
}

footer h4{
    padding-top: 11px;
    text-align: left;
    color: #fff;
}
